<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/iphoneoutput.css' %}">

<script src="{% static 'js/iphoneoutput.js'%}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Choose The Best IPhone with the Best Features</h1>
<div class="pos">
<div class="box">
    <div class="feature">
<p style="font-size:20px"><b>Features</b></p>

{% for f in p_f %}
<p>
  {{ f.phone_feature_name }}

</p>
{% endfor %}
</div>

<div class="feature1">

    <div id="data1">
<p style="font-size:20px" id="p1" title="p1">{{data1}}</p>
</div>


    {% for fi in p_fv1 %}
    <p>
        {{ fi.phone_feature_v_value }}
    </p>
    {% endfor %}
</div>
<div class="feature2">
<div id="data2">
<p style="font-size:20px" id="p2" title="p2">{{data2}}</p>
</div>
     {% for fi2 in p_fv2 %}
    <p>
        {{ fi2.phone_feature_v_value }}
    </p>
    {% endfor %}
</div>
<form method="post" action="{% url 'phonebuy' %}">
    {% csrf_token %}
<input type="submit" value="{{ data1 }}" id="buy1" name="buy1" style="position:absolute;top:480px;left:500px;">

<input type="submit" value="{{ data2 }}" id="buy2" name="buy1" style="position:absolute;top:480px;left:850px;">
    </form>
</div>
</div>
</body>
</html>
