<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/samsung.css' %}">
<script src="{% static 'js/iphone.js'%}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Choose Which Samsung Model You Want To Compare</h1>
<form method="POST" action="{% url 'samsungoutput' %}" id="samsungform">
{% csrf_token %}
<select class="device3" id="device3" name="device3" required>
  <option value="" selected="selected">Choose a device</option>
    {% for m1 in p_m1 %}
        <option value="{{ m1.phone_model_name }}" id="value1" >
          {{ m1.phone_model_name }}
        </option>
      {% endfor %}
  </select>
{% csrf_token %}
<select class="device4" id="device4" name="device4" required>
  <option value="" selected="selected">Choose a device</option>
    {% for m2 in p_m2 %}
        <option value="{{ m2.phone_model_name }}" id="value2">
          {{ m2.phone_model_name }}
        </option>
      {% endfor %}
  </select>
<div class="phone1">
<img src="{% static 'images/phone.png' %}">
</div>
<div class="phone2">
<img src="{% static 'images/phone.png' %}">
    <input type="submit" class="bu" value="COMPARE">
</div>
</form>
</body>
</html>