<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/tabCompare.css' %} ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Choose Which Brand You Want To Compare</h1>
<a href="{% url 'ipad'%}">
<div class="container">

  <img src="{% static 'images/ipad.jpg' %}"alt="Avatar" class="image">

  <div class="overlay">
    <div class="text">Compare iPads</div>
  </div>
</div>
    </a>
<a href="{% url 'samsungTab'%}">
<div class="container1">

  <img src="{% static 'images/samsungtab.jpg' %}"alt="Avatar" class="image">

  <div class="overlay">
    <div class="text">Samsung Tabs</div>
  </div>
</div>
</a>
</body>
</html>