<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/watchCompare.css' %} ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Choose Which Brand You Want To Compare</h1>
<a href="{% url 'applewatch'%}">
<div class="container">

  <img src="{% static 'images/applewatch.jpg' %}"alt="Avatar" class="image">

  <div class="overlay">
    <div class="text">Apple Watches </div>
  </div>
</div>
    </a>
<a href="{% url 'samsungwatch'%}">
<div class="container1">

  <img src="{% static 'images/samsungwatch.jpg' %}"alt="Avatar" class="image">

  <div class="overlay">
    <div class="text">Samsung Watches</div>
  </div>
</div>
</a>
</body>
</html>